@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  src: local("Poppins Regular"), local("Poppins-Regular"),
    url("../Fonts/Poppins/Poppins-Regular.woff2") format("woff2"),
    url("../Fonts/Poppins/Poppins-Regular.woff") format("woff"),
    url("../Fonts/Poppins/Poppins-Regular.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  src: local("Poppins Medium"), local("Poppins-Medium"),
    url("../Fonts/Poppins/Poppins-Medium.woff2") format("woff2"),
    url("../Fonts/Poppins/Poppins-Medium.woff") format("woff"),
    url("../Fonts/Poppins/Poppins-Medium.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
  src: local("Poppins Bold"), local("Poppins-Bold"),
    url("../Fonts/Poppins/Poppins-Bold.woff2") format("woff2"),
    url("../Fonts/Poppins/Poppins-Bold.woff") format("woff"),
    url("../Fonts/Poppins/Poppins-Bold.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  font-weight: 900;
  font-style: normal;
  src: local("Poppins Black"), local("Poppins-Black"),
    url("../Fonts/Poppins/Poppins-Black.woff2") format("woff2"),
    url("../Fonts/Poppins/Poppins-Black.woff") format("woff"),
    url("../Fonts/Poppins/Poppins-Black.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: local("Roboto Regular"), local("Roboto-Regular"),
    url("../Fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
    url("../Fonts/Roboto/Roboto-Regular.woff") format("woff"),
    url("../Fonts/Roboto/Roboto-Regular.eot") format("eot");
  font-display: swap;
}



/* --------------------- */

html {
  background-color: rgba(255, 232, 111, 0.61);
}
body {
  background: url(../Images/bg_strip_1.svg) no-repeat left 0 top 20px,
    url(../Images/bg_strip_1.svg) no-repeat left 0 top 42px,
    url(../Images/bg_strip_1.svg) no-repeat left 0 top 65px,
    url(../Images/bg_strip_1.svg) no-repeat left 0 top 87px;
  background-size: contain;
  z-index: inherit;
  font-family: Poppins;
}
.developer {
  padding: 42px;
  color: #000;
  font-family: Roboto;
  font-size: clamp(14px, 2vw, 20px);
}
.wrapper {
  max-width: 1440px;
  min-width: 320px;
  height: auto;
  border-radius: 20px 20px 0px 0px;
  background: #FFF;
  margin: 0 auto;
}
.header__top{
  margin: 0 75px;
}
.logo{
  margin-top: 5px;
}
.logo-text{
  color: #000;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 1px;
  margin-left: 5px;
}
.nav{
  --bs-nav-link-color:  #242323;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
}
.nav-item{
  margin-left: 27px;
}
.nav-item:last-child{
  margin-left: 10px;
}
.btn-primary{
  width: 100px;
  height: auto;
  border-radius: 5px;
  background: #000;
}




/* Header__middle */




.header__middle{
  margin: 0 75px;
  border-radius: 40px;
  background: #F4F6F5;
}
.banner__left-side{
}
.display-1{
  width: clamp(355px);
  height: clamp(355px);
  color: #000;
  font-size: clamp(20px, 7cqw, 72px);
  font-weight: 900;
}

.display-1_text{
  width: 455px;
  color: #191818;
  font-size: clamp(10px, 2vw, 24px);
  font-weight: 400;
  letter-spacing: -1.2px;
  margin-top: -80px;
}
.z-2 {    
  top: -185px;
  left: -18px;
  width: 372px;
  height: 88px;
  transform: rotate(-2.002deg);
  background: #EBD96B;
}
.btn-secondary{  
  border-radius: 5px;
  background: #000;
}
.banner {
  display: flex;
  width: clamp(1290px);
  margin-top: 48px;
} 


.banner_girl {
  width:clamp(648px);
}

.d-flex{
  align-items: center;
  margin: 0 auto;
  height: 140px;
  background: #EBD96B;
}
.flex-fill {
  flex: 0!important;
}
.justify-content-between{
  width: 1290px;
}









































































/* .desktop1{
  max-width: 1290px;
  margin: 0 auto;
}
.header, .justify-content-end {
  color: #242323;
  font-size: 16px;
  font-weight: 500;
}
.hstack{
  padding-top: 50px;
  padding-bottom: 50px;
}

.gap-3{  
    gap: 0rem!important;
    font-size: 30px;
    font-weight: 700;
}



.row-cols-2>* {
  flex: 0 0 auto;
  width: 45%
}
.row-cols-2{
  display:flex;  
  flex-wrap: nowrap;
  align-items: center;
  margin-left: 90px;  
  position: relative;
}
.col banner__left-side{
  color: #000;
  font-size: 72px;
  font-weight: 900;
}

.banner__left-side > p {
  color: #191818;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -1.2px;
}

.img_on_banner_text{
  background: #EBD96B;
  width: 371.839px;
  height: 88.076px;
  transform: rotate(-2.002deg);
  position: absolute;
  left: -300px;
  z-index: ;
}
.text-center{
  width: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: left!important;
  border-radius: 40px;
  background: #F4F6F5;
}


.flex-fill{
  margin-left: 40px;
} */




/* .container {
  display: flex;
} */
/* .container-fluid {
  width: 100%;
} */
/* .container-fluid_logo {
  width: 25px;
  height: 23px;
} */
/* .collapse {
  color: #242323;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.165px;
} */
/* .navbar-brand {
  color: #000;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 1px;
} */
/* .desktop1{
  
} */
/* .banner {
  display: flex;
  width: 1290px;
  height: auto;
  margin-top: 48px;
} */
/* .banner__right-side {
  width: 648px;
height: 568px;
flex-shrink: 0;
}
 */ 