@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  src: local("Poppins Regular"), local("Poppins-Regular"),
    url("../Fonts/Poppins/Poppins-Regular.woff2") format("woff2"),
    url("../Fonts/Poppins/Poppins-Regular.woff") format("woff"),
    url("../Fonts/Poppins/Poppins-Regular.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  src: local("Poppins Medium"), local("Poppins-Medium"),
    url("../Fonts/Poppins/Poppins-Medium.woff2") format("woff2"),
    url("../Fonts/Poppins/Poppins-Medium.woff") format("woff"),
    url("../Fonts/Poppins/Poppins-Medium.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
  src: local("Poppins Bold"), local("Poppins-Bold"),
    url("../Fonts/Poppins/Poppins-Bold.woff2") format("woff2"),
    url("../Fonts/Poppins/Poppins-Bold.woff") format("woff"),
    url("../Fonts/Poppins/Poppins-Bold.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  font-weight: 900;
  font-style: normal;
  src: local("Poppins Black"), local("Poppins-Black"),
    url("../Fonts/Poppins/Poppins-Black.woff2") format("woff2"),
    url("../Fonts/Poppins/Poppins-Black.woff") format("woff"),
    url("../Fonts/Poppins/Poppins-Black.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: local("Roboto Regular"), local("Roboto-Regular"),
    url("../Fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
    url("../Fonts/Roboto/Roboto-Regular.woff") format("woff"),
    url("../Fonts/Roboto/Roboto-Regular.eot") format("eot");
  font-display: swap;
}
/* --------------------- */

html {
  background-color: rgba(255, 232, 111, 0.61);
}
body {
  background: url(../Images/bg_strip_1.svg) no-repeat left 0 top 20px,
    url(../Images/bg_strip_1.svg) no-repeat left 0 top 42px,
    url(../Images/bg_strip_1.svg) no-repeat left 0 top 65px,
    url(../Images/bg_strip_1.svg) no-repeat left 0 top 87px;
  background-size: contain;
  z-index: inherit;
  font-family: Poppins;
}
header, main, footer {
  width: 1440px;
  height: auto;
  margin: 0 auto;
  border-radius: 40px;
  background: #F4F6F5;
}
.developer {
  padding: 42px;
  color: #000;
  font-family: Roboto;
  font-size: clamp(14px, 2vw, 20px);
}
.wrapper {
  max-width: 1440px;
  height: auto;
  border-radius: 20px 20px 0px 0px;
  background: #FFF;
  margin: 0 auto;
}
.desktop1{
  max-width: 1290px;
  margin: 0 auto;
}
.header {
  color: #242323;
  font-size: 16.5px;
  font-weight: 500;
}
.hstack{
  padding-top: 50px;
}
.logo {
  width: 38px;
  height: 37px;
  color: #000;
  font-size: 30px;
  font-weight: 900;
}
.gap-3{  
    gap: 0rem!important;;
    font-size: 30px;
    font-weight: 700;
}
.nav{
  --bs-nav-link-color:  #242323;;
}

.justify-content-end{
  color: #242323;
  font-size: 16.5px;
  font-weight: 500;
}

.btn-primary{
  width: 100.5px;
  height: auto;
  border-radius: 5px;
  background: #000;
}
.row-cols-2>* {
  flex: 0 0 auto;
  width: 45%
}
.row-cols-2{
  display:flex;  
  flex-wrap: nowrap;
  align-items: center;
  margin-left: 90px;
}
.display-1{
  width: 355px;
  height: 355px;
  color: #000;
  font-size: 72px;
  font-weight: 900;
  line-height: 90px;
}
.display-1__bg-img{
  z-index: 3;
}
.bg-img{
  width: 471.839px;
height: 88.076px;
transform: rotate(-2.002deg);
flex-shrink: 0;
  position: relative;
  top: -190px;
  left:-90px;
  z-index: 0;
}
.col banner__left-side{
  color: #000;
  font-size: 72px;
  font-weight: 900;
}
.banner__left-side > p {
  color: #191818;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -1.2px;
}
.text-center{
  width: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: left!important;
  border-radius: 40px;
  background: #F4F6F5;
}

.d-flex{
  width: auto;
  align-items: center;
  margin: 0 auto;
  height: 140px;
  background: #EBD96B;
}
.flex-fill{
  margin-left: 40px;
}




/* .container {
  display: flex;
} */
/* .container-fluid {
  width: 100%;
} */
/* .container-fluid_logo {
  width: 25px;
  height: 23px;
} */
/* .collapse {
  color: #242323;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.165px;
} */
/* .navbar-brand {
  color: #000;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 1px;
} */
/* .desktop1{
  width: 1290px;
  height: auto;
  margin: 0 auto;
  border-radius: 39.474px;
  background: #F4F6F5;
} */
/* .banner {
  display: flex;
  width: 1290px;
  height: auto;
  margin-top: 48px;
} */
.banner__right-side {
  width: 648px;
height: 568px;
flex-shrink: 0;
}
.banner_girl {
  width: 648px;
height: 568px;
flex-shrink: 0;
}